@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --dark: #272629;
  --light: #fafafa;
  --accent: #d35050;

  --background: #ffffff;
  --foreground: #272629;
}

.dark {
  --background: #272629;
  --foreground: #ffffff;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #272629;
    --foreground: #ededed;
  }
} */

p {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 60px;
}

h2 {
  font-family: "Montserrat";
  font-weight: 600;
}

h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 32px;
}

h4 {
  font-family: "Montserrat";
  font-weight: 600;
}

h5 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}

h6 {
  font-family: "Montserrat";
  font-weight: 600;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.guide_header {
  padding: 20px 60px;

  display: flex;

  border-bottom: 2px solid #1E1E1E;

  .left {
    flex: 1 1 20%;
    border-right: 1px solid #1E1E1E;

    display: flex;
    align-items: center;
    gap: 10px;
    
    img {
      max-height: 40px;
      /* padding-right: 10px; */
      /* border-right: 1px solid #1E1E1E; */
    }

    p {
      font-size: 14px;
      font-weight: 600;
      /* padding-left: 10px; */
      /* border-left: 1px solid #1E1E1E; */
    }
  }

  .center {
    flex: 1 1 80%;
    border-left: 1px solid #1E1E1E;
    border-right: 1px solid #1E1E1E;
  }

  .right {
    flex: 1 1 20%;
    border-left: 1px solid #1E1E1E;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}